{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header>

   <header class="row bg-cyan">
   <div class="col-md-3">
      <img src="{% static 'foto.jpeg'%}" alt="" width="240" height="380">
   </div>

   <div class="col-md-8" my-auto>
      <h1>I am <strong>Sheyla Soledispa</strong></h1>
      <h3>Soy una estudiante a punto de colapsar</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eius suscipit harum exercitationem laborum! Distinctio dignissimos vitae id totam atque sed explicabo sequi nesciunt ullam ex enim delectus ad officia quisquam eos laudantium, nihil ipsa maiores quis cum voluptatem suscipit. Ab quaerat dicta expedita in est, culpa beatae quidem recusandae, ea, ipsa magni? Suscipit incidunt sunt dolores deleniti recusandae odit! Praesentium voluptate nam mollitia quos iusto commodi nihil placeat unde incidunt vero, officia eaque animi asperiores perspiciatis nesciunt nobis dolore laboriosam odit itaque! Dignissimos, deserunt enim? Eius enim obcaecati voluptas nobis, voluptatum sint ab eveniet harum ad corrupti repellat mollitia.</p>
      <a href="{% static 'MeowGical Games.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-1 ">Download CV</a>
   </div>
</header>

<div class="row my-4">

   <h3>Pelis y series fav</h3>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, eaque?</p>
   {% for project in projects %}

   <div class="col-md-4 p-4">

      <div class="card bg-cyan card-project">

         <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top"/>

         <div class="card-body">

            <h2>{{project.title}}</h2>

            <p>{{project.description}}</p>
           
   
            {% if project.url %}
             <a href="{{project.url}}" class="btn btn-dark rounded-4 btn-sm" target="cyan">{{project.url}}</a>

             {% endif %}

         </div>
      </div>
   </div>
{% endfor %} 

{% endblock %}
   
</div>